# Node.js dependencies
node_modules/

# Next.js build output
.next/

# macOS system files
.DS_Store

# Other large files
*.pack

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 